<div class="logovamenu">
	    <nav class="navbar navbar-light  fontroboto">
	    	<div class="container">    	
			      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#mtren">
			       
			      </button>
			      <div class="collapse navbar-toggleable-xs" id="mtren">
			        <a class="navbar-brand text-xs-center text-sm-left" href="#"><img src="images/logo.png" alt=""></a>

			        <ul class="nav navbar-nav float-sm-right">
			          <li class="nav-item active">
			            <a class="nav-link" href="index.html">Home  </a>
			          </li>
			          <li class="nav-item">
			            <a class="nav-link" href="about.html">About</a>
			          </li>
			          <li class="nav-item">
			            <a class="nav-link" href="news.html">News</a>
			          </li>
			          <li class="nav-item">
			            <a class="nav-link" href="thucdon.html">Menu</a>
			          </li>
			          <li class="nav-item">
			            <a class="nav-link" href="contact.html">Contact</a>
			          </li>
			         <li class="nav-item datbanmenu">
			            <a class="nav-link btn btn-warning wow bounce" data-wow-iteration="3" href="#" >Reservation</a>
			          </li>
			        </ul>
			      </div>
	      </div> <!-- het container -->
	    </nav>
 	</div> <!-- het logo va menu -->