<!DOCTYPE html>
<html lang="en"><head>
	<title> Artica  </title>
	<%- include layout/head %>
 </head>
<body >	
 	<%- include layout/nav%>
 	
	<div class="container">
	  <!--   <div class="row col-md-center col-md-6 col-md-offset-2 custyle"> -->
		    <table class="table table-striped custab">
			    <thead>
			        <tr>
			            <th>STT</th>
			            <th>Content</th>
			            <th class="text-center">Action</th>
			        </tr>
			    </thead>
		            <tr>
		                <td>1</td>
		                <td>Món Ăn</td>
		                <td class="text-center">
		                	<a class='btn btn-success btn-xs' href="/admin/monan"><span class="glyphicon glyphicon-add"></span> Xử Lý</a> 
		                </td>
		            </tr>
		            <tr>
		                <td>2</td>
		                <td>Header</td>
		                <td class="text-center">
		                	<a class='btn btn-success btn-xs' href="/admin/header/1"><span class="glyphicon glyphicon-add"></span>Sửa</a> 
		                </td>
		            </tr>
		             <tr>
		                <td>2</td>
		                <td>Slides</td>
		                <td class="text-center">
		                	<a class='btn btn-success btn-xs' href="/admin/slides"><span class="glyphicon glyphicon-add"></span>Xử lý</a> 
		                </td>
		            </tr>

		    </table>
<!-- 	    </div> -->
	</div>

</body>
</html>